/* { General styles */
/* .hidden {
    display: none!important;
} */
/* } General styles */

/* --------------------------------------------------------- */

/* { Modal responsiveness on mobile: fullscreen */
@media (max-width: 575.98px) {
    .modal-fullscreen-sm-down {
        width: 100vw;
        max-width: none;
        height: 100%;
        margin: 0;
    }
    .modal-fullscreen-sm-down .modal-content {
        height: 100%;
        border: 0;
        border-radius: 0; 
    }
    .modal-fullscreen-sm-down .modal-header {
        border-radius: 0;
    }
    .modal-fullscreen-sm-down .modal-body {
        overflow-y: auto;
    }
    .modal-fullscreen-sm-down .modal-footer {
        border-radius: 0;
    }
}
/* } Modal responsiveness on mobile: fullscreen */

/* --------------------------------------------------------- */

/* { Modal header */
.modal-header .header-btn-cont {
    height: 30px;
    width: 30px;
}
.modal-header .header-btn {
    padding: 2px 3px;
    border: 0px;
    background-color: transparent;
    cursor: pointer;
}
.modal-header .header-btn i {
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .5;
    vertical-align: middle;
}
.modal-header .title-container {
    text-align: center;
}
/* } Modal header */

/* --------------------------------------------------------- */

/* { Modal body */
.modal-body {
    overflow: hidden;
    padding: 0px;
    height: 600px;
}
/* } Modal body */

/* --------------------------------------------------------- */

/* { Modal spinner */
.spinner-overlay {
    position: absolute;
    z-index: 99999999;
    width: 100%;
    height: 100%;
    opacity: 1;
    background-color: rgba(233, 233, 233, 0.651);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: .2rem;
}
.spinner-overlay div {
    color: var(--primary-color);
    height: 4rem;
    width: 4rem;
    vertical-align: middle;
    border-width: 5px;
}
/* } Modal spinner */

/* --------------------------------------------------------- */

/* { Pages container and pages base setup */
.pages-container {
    /* width: 100%; */
    display: flex;
    width: 300%;
    height: 100%;
}
.pages-container .page {
    padding: 0px 1px;
    width: 33.34%;
    transition: margin-left .3s ease-in-out;
    height: 100%;

    display: flex;
    flex-direction: column;
}
/* } Pages container and pages base setup */

/* --------------------------------------------------------- */

/* { Page 1 */
.upl-sel-btns-cont {
    text-align: center;
    margin: 12px 0px 20px 0px;
    padding: 0px 10px;
    max-height: 200px;
    opacity: 1;
    transition: 
        max-height .2s, 
        margin .3s, 
        opacity .2s;
}
.upl-sel-btns-cont.hidden {
    max-height: 0px;
    margin: 0;
    overflow: hidden;
    opacity: 0;
    transition: 
        max-height .2s, 
        margin .3s, 
        opacity .2s;
}
.img-input {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}
.upl-sel-btns-cont .img-upl-btn {
    margin-bottom: 0px;
}
.upl-sel-btn {
    margin-top: 4px;
    color: #fff!important;
}
.upl-sel-btn i {
    font-size: 22px;
    margin-right: 5px;
    vertical-align: text-bottom;
}
.upl-sel-btn:hover i {
    -webkit-animation: tada 1.5s ease infinite;
    animation: tada 1.5s ease infinite;
}
.separator {
    border-top: 1px solid #dee2e6;
    text-align: center;
    line-height: .1rem; 
    margin-top: 20px;
}
.separator span {
    background:#fff; 
    padding: 0 10px;
}
/* } Page 1 */

/* --------------------------------------------------------- */

/* { Image grid page general */
.modal-cards-container {
    background-color: #f7f7f7;
    overflow-y: scroll;
    flex: 1;
    padding: 0px 5px 5px 5px;
}
.modal-cards-grid {
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.modal-cards-grid:after {
    content: '';
    display: block;
    clear: both;
}
.modal-card {
    position: relative;
    float: left;
}

/* { Selector */
.selector-wrapper {
    display: inline-block;
    padding: 2px;
    transform: scale(1);
    transition-duration: .2s;
}
.selector-wrapper:hover {
    transform: scale(.95);
    transition-duration: .2s;
}
.selector-wrapper label {
    position: relative;
}
.selector-wrapper label:before {
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: 2;
    background-color: white;
    content: "";
    display: block;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    transition-duration: 0.2s;
    transform: scale(0);
}
.selector-wrapper :checked + label:before {
    content: url(../../img/check-circle-solid-24.png);
    transform: scale(1);
}
.selector-wrapper :checked + label img {
    transform: scale(0.9);
    z-index: -1;
}
.selector-wrapper label {
    cursor: pointer;
}
.selector-wrapper label img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    transition-duration: 0.2s;
    user-select: none;
}
/* } Selector */

/* { Confirm button */
.confirm-btn-container {
    position: absolute;
    bottom: 8px;
    left: 0px;
    width: 100%;
    text-align: center;
    transform: scale(1);
    transition-duration: .1s;
}
.confirm-btn-container.hidden {
    pointer-events: none;
    transform: scale(0);
    transition-duration: .1s;
}
/* } Confirm button */
/* } Image grid page general */

/* --------------------------------------------------------- */

/* { Editor page */

/* } Editor page */

/* --------------------------------------------------------- */